[Unit]
Description=xremap

[Service]
Type=simple
Restart=on-failure
RestartSec=10
ExecStart=xremap --watch=device --mouse %h/.config/xremap/config.yml

[Install]
WantedBy=default.target
